<!DOCTYPE html>
<html>
    <head>
        <title>Travel Planner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Travel Planner</h1>
            <i class="fas fa-map-marked-alt"></i>
        </header>
        <main>
            <form>
                <div class="place-wrapper">
                    <i class="fas fa-map-marker-alt"></i>
                    <input type="text"  name="place" id="place" placeholder="where to go? ">
                </div>
                <div class="date-wrapper">
                    <i class="far fa-calendar-alt"></i>
                    <input type="text" name="date" id="date" placeholder="YYYY-MM-DD">
                </div>
                <input type="submit" value="Save Trip">
            </form>
            <span></span>
            <section class="card">
                <img src="https://pixabay.com/get/57e0d74b4e52b10ff3d8992cc62f3478113adbe74e507440712e79dd964cc4_640.jpg">
                <div class="main-info">
                    <div class="col">
                        <span>Destination: Paris</span>
                        <span>Country: France</span>
                    </div>
                    <div class="col">
                        <span>Departure date: 2020-10-09</span>
                        <span>Weather description: Clear Sky</span>
                    </div>
                    <div class="col">
                        <span>High: 24&#176;C</span>
                        <span>Low: 10&#176;C</span>
                    </div>
                </div>
            </section>
        </main>
        <footer>
           <span><i class="far fa-copyright"></i> 2020</span> 
           <pre>follow us @ <i class="fab fa-facebook"></i>  <i class="fab fa-twitter"></i>  <i class="fab fa-instagram"></i></pre>
        </footer>
    </body>
</html>