<!DOCTYPE html>
<html>
    <head>
        <title>Travel Planner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Travel Planner</h1>
            <i class="fas fa-map-marked-alt"></i>
        </header>
        <main>
            <form class="main-form">
                <div class="place-wrapper">
                    <i class="fas fa-map-marker-alt"></i>
                    <input type="text"  name="place" id="place" placeholder="where to go? ">
                </div>
                <div class="date-wrapper">
                    <i class="far fa-calendar-alt"></i>
                    <input type="text" name="date" id="date" placeholder="YYYY-MM-DD">
                </div>
                <input type="submit" value="Save Trip">
            </form>
            <span></span>
            <!-- <section class="card">
                <img src="https://pixabay.com/get/57e0d74b4e52b10ff3d8992cc62f3478113adbe74e507440712d7ad1914dcc_640.jpg"> -->
                <!-- <fieldset>
                    <legend>main info</legend>
                    <div class="content">
                        <div class="col">
                            <span>Destination: Paris</span>
                            <span>Country: France</span>
                        </div>
                        <div class="col">
                            <span>Departure date: 2020-10-09</span>
                            <span>Weather description: Clear Sky</span>
                        </div>
                        <div class="col">
                            <span>High: 24&#176;C</span>
                            <span>Low: 10&#176;C</span>
                        </div>
                    </div>
                </fieldset> -->
                <!-- <form class="flight-form">
                    <fieldset>
                        <legend>flight info</legend>
                        <div class="col">
                            <label for="airline">Airline:</label>
                            <input type="text" name="airline" id="airline">
                            <label for="flight-number">flight number:</label>
                            <input type="text" name="flight-number" id="flight-number">
                        </div>
                        <div class="col">
                            <label for="departure-airport">Departure airport:</label>
                            <input type="text" name="departure-airport" id="departure-airport">
                            <label for="arrival-airport">Arrival airport:</label>
                            <input type="text" name="arrival-airport" id="arrival-airport">
                        </div>
                        <div class="col">
                            <label for="takeoff-time">Takeoff time:</label>
                            <input type="text" name="takeoff-time" id="takeoff-time" placeholder="HH:MM">
                            <label for="flight-duration">Flight duration:</label>
                            <input type="text" name="flight-duration" id="flight-duration" placeholder="HH:MM">
                        </div>
                        <div class="btn-col">
                            <button type="button">save</button>
                        </div>
                    </fieldset>
                </form> -->
                <!-- <form class="lodging-form">
                    <fieldset>
                        <legend>lodging info</legend>
                        <label for="hotel-name">Hotel name:</label>
                        <input type="text" name="hotel-name" id="hotel-name">
                        <label for="address">Address:</label>
                        <input type="text" name="address" id="address">
                        <label for="stay-duration">Stay duration:</label>
                        <input type="text" name="stay-duration" id="stay-duration">
                        <div>
                            <button type="button">save</button>
                        </div>
                    </fieldset>
                </form> -->
                <!-- <fieldset>
                    <legend>flight info</legend>
                    <div class="content">
                        <div class="col">
                            <span>Airline: EgyptAir</span>
                            <span>Flight number: 201</span>
                        </div>
                        <div class="col">
                            <span>Departure airport: SFX</span>
                            <span>Arrival airport: BIN</span>
                        </div>
                        <div class="col">
                            <span>Takeoff time: 07:50</span>
                            <span>Flight duration: 04:30</span>
                        </div>
                    </div>
                </fieldset> -->
                <!-- <fieldset class="lodging">
                    <legend>lodging info</legend>
                    <span>Hotel name: Tolip</span>
                    <span>Stay Duration: 5 days</span>
                    <br>
                    <span>Hotel address: 24, stakeener strasse, spandau</span>
                </fieldset> -->
                <!-- <div class="btns">
                    <button type="button">add flight info</button>
                    <button type="button">add lodging info</button>
                    <button type="button">remove trip</button>
                </div> -->
            <!-- </section> -->
        </main>
        <footer>
           <span><i class="far fa-copyright"></i> 2020</span> 
           <pre>follow us @ <i class="fab fa-facebook"></i>  <i class="fab fa-twitter"></i>  <i class="fab fa-instagram"></i></pre>
        </footer>
    </body>
</html>