$btn-color: rgb(112, 62, 221);
$btn-hover: rgb(81, 1, 252);

%flow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

*:focus {
    outline: 0;
}

body {
    @extend %flow;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

main {
    @extend %flow;
}

.error {
    display: inline-block;
    color: #f00;
    margin-top: 0.5vh;
}

.hide {
    display: none;
}

.cards {
    display: grid;
    justify-items: stretch;
}

.passed {
    opacity: 0.6;
}

.card {
    display: grid;
    margin: 5% 0;
    background-color: #fffff8;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #222;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition-duration: 0.3s;

    .img {
        position: relative;
        border-radius: 5px;
        justify-self: stretch;

        span {
            position: absolute;
            bottom: 1vh;
            right: 0.5vw;
            color: #fff;
            font-size: 2em;
            text-align: center;
        }
    }

    img {
        width: 100%;
        border-radius: 5px;
    }

    fieldset {
        margin: 5px;
        border: 1px solid #bbb;
        border-radius: 5px;

        span {
            display: inline-block;
            font-size: 1.5em;
            padding: 5px;
            margin: 5px 0;
            background-color: #ddd;
            border-radius: 5px;
        }
    }

    .content {
        display: flex;
        justify-content: space-around;

        span {
            margin-right: 1vw;
        }
    }

    .col {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1vh 1vw;
        min-height: 10vh;
    }



    // .lodging {

    //     span {
    //         margin-right: 1vw;
    //     }
    // }

    .btns {
        margin: 2vh 0;
        text-align: center;

        button {
            padding: 10px;
            cursor: pointer;
            margin: 0 0.5vw;
            min-width: auto;
            background-color: $btn-color;
            color: #fffff8;
            border: 1px solid transparent;
            border-radius: 5px;
            transition-duration: 0.3s;
        }
    
        button:hover {
            background-color: $btn-hover;
        }
    }


}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

